flow2
[{"id":"f214f7a3.8a1fc8","type":"tab","label":"Flow 7","disabled":false,"info":""},{"id":"5b7d8bb1.933b14","type":"inject","z":"f214f7a3.8a1fc8","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":260,"wires":[["97b2e2be.b84fe"]]},{"id":"97b2e2be.b84fe","type":"function","z":"f214f7a3.8a1fc8","name":"payload","func":"msg.headers={\n    devicekey: \"WkUPyO2g89234qMC\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":260,"wires":[["f17f062a.ac8378","a8bfbb8e.c4d398"]]},{"id":"f17f062a.ac8378","type":"http request","z":"f214f7a3.8a1fc8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/DSzvFoNz/datachannels/Temperature/datapoints.csv","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":260,"wires":[["c1e8fd45.4694a","508eaf8c.b9a62"]]},{"id":"c1e8fd45.4694a","type":"http response","z":"f214f7a3.8a1fc8","name":"","statusCode":"","headers":{},"x":710,"y":260,"wires":[]},{"id":"508eaf8c.b9a62","type":"debug","z":"f214f7a3.8a1fc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":720,"y":180,"wires":[]},{"id":"a8bfbb8e.c4d398","type":"http request","z":"f214f7a3.8a1fc8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/DSzvFoNz/datachannels/Humidity/datapoints.csv","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":320,"wires":[["c1e8fd45.4694a","508eaf8c.b9a62"]]}]
