flow1
[{"id":"6d341589.05ecbc","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"46f1acda.ed3ef4","type":"rpi-gpio in","z":"6d341589.05ecbc","name":"buttin","pin":"7","intype":"up","debounce":"25","read":true,"x":70,"y":280,"wires":[["c741ca15.0196d8","a25517fe.66b368"]]},{"id":"b9610b44.afb108","type":"rpi-gpio out","z":"6d341589.05ecbc","name":"led","pin":"11","set":true,"level":"0","freq":"","out":"out","x":770,"y":260,"wires":[]},{"id":"a25517fe.66b368","type":"debug","z":"6d341589.05ecbc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":310,"y":120,"wires":[]},{"id":"c741ca15.0196d8","type":"switch","z":"6d341589.05ecbc","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":280,"wires":[["ac58e8f3.108a28"],["da03db17.807ed8"]]},{"id":"ac58e8f3.108a28","type":"change","z":"6d341589.05ecbc","name":"change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":200,"wires":[["b9610b44.afb108"]]},{"id":"da03db17.807ed8","type":"change","z":"6d341589.05ecbc","name":"change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":320,"wires":[["b9610b44.afb108"]]}]
