flow3
[{"id":"77d6f02c.6c492","type":"tab","label":"Flow 8","disabled":false,"info":""},{"id":"a4688da1.93a7d","type":"inject","z":"77d6f02c.6c492","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":240,"wires":[["7b646a3b.321674"]]},{"id":"7b646a3b.321674","type":"function","z":"77d6f02c.6c492","name":"payload","func":"msg.headers={\n    devicekey: \"WkUPyO2g89234qMC\"\n};\nmsg.payload= \"Temperature,,25.3\"\nmsg.payload= \"Humidity,,5487\"\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":240,"wires":[["b3a302da.fc2c4"]]},{"id":"9de66642.c40568","type":"http response","z":"77d6f02c.6c492","name":"","statusCode":"","headers":{},"x":550,"y":280,"wires":[]},{"id":"b3a302da.fc2c4","type":"http request","z":"77d6f02c.6c492","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/DSzvFoNz/datapoints.csv","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":340,"wires":[["9de66642.c40568","58fd8f0e.cf91d"]]},{"id":"58fd8f0e.cf91d","type":"debug","z":"77d6f02c.6c492","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":540,"y":180,"wires":[]}]
